<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="ugURL" value ="https://www.ultimate-guitar.com/"/>
    <add key ="favPath" value ="user/mytabs"/>
    <add key ="username" value ="yourusernamegoeshere"/>
    <add key ="password" value ="yourpasswordgoeshere"/>
    <add key ="autoScrollEnabled" value = "true"/>
    <add key ="UserProfileEnabled" value ="false"/>
    <add key ="UserProfilePath" value ="/Google/Chrome/User Data"/>
  </appSettings>
</configuration>